ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.1.0'
    hooks:
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md,markdown']
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/asottile/reorder_python_imports
    rev: 'v2.7.1'
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/psf/black
    rev: '22.1.0'
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: '4.0.1'
    hooks:
      - id: flake8
