name: crt1d-dev
channels:
  - conda-forge
dependencies:
  - python=3.7
  #
  # used by crt1d (prefer Conda versions though)
  - matplotlib
  - numpy
  - pandas
  - pyyaml
  - scipy
  - xarray
  #
  # for docs work
  - jupytext
  - jupyterlab>=3
  - sphinx
  - sphinx-autobuild
  #
  - pip  # otherwise conda nags
  - pip:
    # the package, including extras
    - '-e .[docs]'
  #
  # dev tools
  - pylint
  - rope
