# the package as an editable install
-e ../
# sphinx extensions
sphinx
sphinx-rtd-theme
sphinx-book-theme
nbsphinx
sphinxcontrib-bibtex
myst-parser
# to run examples as notebooks
jupytext
notebook
# for examples
prosail
SolarUtils
