# the package as an editable install
-e ../
# sphinx extensions
sphinx
sphinx-book-theme
sphinx-autoapi
myst-nb
sphinxcontrib-bibtex
# to run examples as notebooks
jupytext
notebook
# for examples
prosail
SolarUtils
